<h1>404 Not found</h1>
<p>We're sorry, this resource is not found</p>
<a href="/dashboard" class="btn">Go to Dashboard</a>
{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Dte</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/{{_id}}"></a>{{title}}</td>
                    <td>{{createdAt}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any stories</p>

{{/if}}

